[*.cs]

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = none

# IDE0021: Use block body for constructors
dotnet_diagnostic.IDE0021.severity = none

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = none

# IDE0023: Use block body for operators
dotnet_diagnostic.IDE0023.severity = none

# IDE0024: Use block body for operators
dotnet_diagnostic.IDE0024.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0061: Use block body for local functions
dotnet_diagnostic.IDE0061.severity = none

# IDE0160: Convert to block scoped namespace
dotnet_diagnostic.IDE0160.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = none